<a href="https://colab.research.google.com/github/K-RAJEEV/AI-ML-MANA-2025/blob/main/Numpy_and_Pandas_Practice_raj.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Numpy and Pandas Practice problems

In [1]:
import numpy as np

1.	Create an array of numbers from 1 to 20 and reshape it into a 4×5 matrix.

In [2]:
array = np.arange(1,21)
array

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20])

In [4]:
array=np.reshape(array,(4,5))
array

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20]])

2.	Create an array of 10 zeros and replace the 5th element with 100.

In [5]:
array= np.zeros(10)
array

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [6]:
array[4]=100
array

array([  0.,   0.,   0.,   0., 100.,   0.,   0.,   0.,   0.,   0.])

3.	Create a NumPy array of even numbers between 2 and 40."

In [7]:
array = np.arange(2,41,2)
array

array([ 2,  4,  6,  8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34,
       36, 38, 40])

4.	Generate a 1D array of 15 random integers between 1 and 100 and find its min, max, mean, and standard deviation.

In [8]:
np.random.seed(42)

In [9]:
random_integers = np.random.randint(1,101,15)
random_integers

array([ 52,  93,  15,  72,  61,  21,  83,  87,  75,  75,  88, 100,  24,
         3,  22])

In [11]:
random_integers.min()

np.int64(3)

In [10]:
random_integers.max()

np.int64(100)

In [12]:
random_integers.mean()

np.float64(58.06666666666667)

In [13]:
random_integers.std()

np.float64(31.4843170836247)

5.	Given two arrays of sales and costs, calculate profit and profit percentage arrays.

In [14]:
sales = np.array([1000, 2500, 3000, 4500, 5000])
costs = np.array([500, 1000, 1500, 2500, 3500])

profit = sales - costs
profit

array([ 500, 1500, 1500, 2000, 1500])

In [15]:
profit_percentage = (profit / sales) * 100
profit_percentage.round(2)

array([50.  , 60.  , 50.  , 44.44, 30.  ])

6.	Create a 6×6 random matrix and compute row sums, column sums, and total sum.

In [ ]:
np.random.seed(10)

In [16]:
Matrix = np.random.randint(1,100, size=(6,6))
Matrix

array([[53,  2, 88, 30, 38,  2],
       [64, 60, 21, 33, 76, 58],
       [22, 89, 49, 91, 59, 42],
       [92, 60, 80, 15, 62, 62],
       [47, 62, 51, 55, 64,  3],
       [51,  7, 21, 73, 39, 18]])

In [17]:
print("Row sum :" ,Matrix.sum(axis=1))

Row sum : [213 312 352 371 282 209]

In [18]:
print("Column sums: ", Matrix.sum(axis=0))

Column sums:  [329 280 310 297 338 185]

In [19]:
print(" total sum:" ,Matrix.sum())

 total sum: 1739

7.	Given stock prices, compute daily returns using vectorized NumPy operations.

In [20]:
prices = np.array([100, 102, 98, 100, 107, 120, 140])
daily_returns = (prices[1:] - prices[:-1]) / prices[:-1]
print("Stock Prices:", prices)
print("Daily Returns:", daily_returns.round(4))

Stock Prices: [100 102  98 100 107 120 140]
Daily Returns: [ 0.02   -0.0392  0.0204  0.07    0.1215  0.1667]

8.	Convert an array of annual interest rates into monthly rates using vectorization.

In [21]:
annual_rates = np.array([0.06, 0.08, 0.12, 0.05])
monthly_rates = annual_rates / 12
print("Annual Interest Rates:", annual_rates)
print("Monthly Interest Rates:", monthly_rates.round(4))

Annual Interest Rates: [0.06 0.08 0.12 0.05]
Monthly Interest Rates: [0.005  0.0067 0.01   0.0042]

9.	Normalize a given array of portfolio weights so that the sum becomes 1.

In [22]:
weights = np.array([30, 25, 20, 15, 10])
normalized_weights = weights / weights.sum()
print("Original weights:", weights)
print("Normalized (sum=1):", normalized_weights.round(4))

Original weights: [30 25 20 15 10]
Normalized (sum=1): [0.3  0.25 0.2  0.15 0.1 ]

10.	Create a Pandas Series from the following list: [1200, 1500, 1800, 2000, 2200]

a.	Find:

i.	mean

ii.	max

iii.	index of the max value

In [23]:
import pandas as pd

data = [1200, 1500, 1800, 2000, 2200]
s = pd.Series(data, index=['Jan', 'Feb', 'Mar', 'Apr', 'May'])
print("Series:\n", s)
print("Mean:", s.mean())
print("Max:", s.max())
print("Index of max:", s.idxmax())  # or s.index[s.argmax()]

Series:
 Jan    1200
Feb    1500
Mar    1800
Apr    2000
May    2200
dtype: int64
Mean: 1740.0
Max: 2200
Index of max: May

11.	Create a DataFrame with Student Name + 3 subject marks:

Name | Math | Science | English

Then:

•	Print only the Math column

•	Print first 2 rows

•	Print the shape

In [29]:
df_students = pd.DataFrame({
    'Name': ['Rajeev', 'Sachin', 'Rames', 'Rahul'],
    'Math': [98, 92, 85, 95],
    'Science': [89, 88, 80, 87],
    'English': [98, 89, 88, 93]
})

print("Full DataFrame:\n", df_students)
print("Math column:\n", df_students['Math'])
print("First 2 rows:\n", df_students.head(2))
print("Shape:", df_students.shape)

Full DataFrame:
      Name  Math  Science  English
0  Rajeev    98       89       98
1  Sachin    92       88       89
2   Rames    85       80       88
3   Rahul    95       87       93
Math column:
 0    98
1    92
2    85
3    95
Name: Math, dtype: int64
First 2 rows:
      Name  Math  Science  English
0  Rajeev    98       89       98
1  Sachin    92       88       89
Shape: (4, 4)

12.	Using this DataFrame:

df = pd.DataFrame({

    "Account": [101,102,103,104],
    "Balance": [5000, 15000, 7000, 12000]
})

Filter rows where:

•	Balance > 8000

•	Balance between 6000 and 13000

In [28]:
df = pd.DataFrame({
    "Account": [1001, 1002, 1003, 1004],
    "Balance": [5000, 15000, 7000, 12000]
})
print("Original DF:\n", df)
print("Balance > 8000:\n", df[df['Balance'] > 8000])
print("Balance between 6000 and 13000:\n",
      df[df['Balance'].between(6000, 13000)])

Original DF:
    Account  Balance
0     1001     5000
1     1002    15000
2     1003     7000
3     1004    12000
Balance > 8000:
    Account  Balance
1     1002    15000
3     1004    12000
Balance between 6000 and 13000:
    Account  Balance
2     1003     7000
3     1004    12000